
:root {
    --primary-back-color: #24292c;
    --secondary-back-color: #acacac;

    --font-color: #f8f9fa;

    /* color template (tailwind slate) */
    --color-050: #f8fafc;
    --color-100: #f1f5f9;
    --color-200: #e2e8f0;
    --color-300: #cbd5e1;
    --color-400: #94a3b8;
    --color-500: #64748b;
    --color-600: #475569;
    --color-700: #334155;
    --color-800: #1e293b;
    --color-850: #292929;
    --color-900: #0f172a;
    --color-950: #020617;

    /* secondary color pallete - shades of orange  */ 
    --color2-050: #fff5eb;
    --color2-100: #ffebd3;
    --color2-200: #ffdfb5;
    --color2-300: #ffcf95;
    --color2-400: #ffbe75;
    --color2-500: #ff9f4d;
    --color2-600: #ff7f26;
    --color2-700: #ff5f00;
    --color2-800: #e64a00;
    --color2-850: #b33b00;
    --color2-900: #802e00;
    --color2-950: #4d1f00;

    /* almost 50 shades of gray */
    --test-950: #0f0f0f;
    --test-850: #242424;
    --test-750: #444444;
    --test-650: #666666;
    --test-550: #3f3f3f;
    --test-450: #4f4f4f;
    --test-350: #5f5f5f;
    --test-250: #6f6f6f;
    --test-150: #7f7f7f;
    --test-050: #8f8f8f;
}