
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: var(--color-500);
    color: var(--color-900);
}
::selection {
    background: var(--color-500);
    color: var(--color-900);
}

body {
    margin: 0;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-100);

    /* background: radial-gradient(
        circle at 50%, var(--primary-back-color),*/  /* a circle in the center, with some color */
        /* var(--primary-back-color) 50%, */ /* the specified color starts at 50% of the radius */
        /* var(--primary-back-color) 70%, */ /* same here, 70% */
        /* var(--primary-back-color) 95%, */ /* 90% */
        /* var(--secondary-back-color) 95% */    /* 100% */
    /*); */

    /* background: linear-gradient(30deg, var(--color-800) , var(--color-800) 30%, var(--color-950)); */
    background: var(--color-950);

    /* the gradient pattern should scale to the entire window size */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;

}

/* preloader section */
#preloader {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-950);
    font-size: 2rem;
    font-weight: bold;
    z-index: 3000;
}

/* color switcher (light or dark mode selection) */
#color-switcher {
    position: fixed;
    right: 0;
    top: 0;
    display: none; /* -> flex */
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    user-select: none;
    transition: .6s ease-in-out all;
    color: #d9773b;
    z-index: 2;
    
    & span {
        font-size: 2.5rem;
    }

    &:hover {
        transform: rotate(360deg) scale(1.2);
    }
}

/* hero section */
#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: 100vh;
    width: 100%;
    z-index: 1;

    & > * {
        margin: 0;
    }
}
#hero .hero-content {
    text-align: center;
    font-size: 4rem;
    color: var(--color-400);
    margin: 0;

    & p {
        font-size: 1.5rem;
        margin: -1rem 0 0 0;
    }
}
#hero-arrow {
    position: absolute;
    bottom: 0;
    color: var(--color-400);
    user-select: none;
    animation: bounce 1.5s infinite alternate ease-out;
    z-index: 1001;

    & span {
        font-size: 4rem;
    }
}
#hero .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    width: 17rem;
    height: auto;
    user-select: none;
    
    & img {
        border-radius: 50%;
        width: 14rem;
    }
}

/* navigation bar */
#navbar {
    position: fixed;
    left: 0;
    top: 25%;
    bottom: 25%;
    height: 50%;
    align-items: center;
    user-select: none;
    max-height: 50vh;
    display: none; /* initially hidden */
    z-index: 2000;
}
#navbar .nav-icon {
    font-size: calc(2rem + 5vh);
    transition: 0.2s ease-in;

    &:hover {
        transform: translateY(-0.4rem);
    }
}
#navbar .nav-text {
    display: none;
}
#navbar ul {
    list-style: none;
}
#show-menu {
    display: none;
}
#navbar ul li a {
    color: var(--color-500);

    &:hover {
        color: var(--color-300);
    }
}

/* sekcije */
.section {
    /* border: 1px solid var(--color-500);
    border-radius: 0.5rem; */
    margin: 1rem 15% 5rem 15%;
    padding: 1rem 2rem;
}
.section * {
    color: var(--color-050);
}
.section hr {
    border: 1px solid var(--color-500);
    margin-bottom: 10px;
}
.section h1 {
    font-size: 2.5rem;
}
.section > p { /*  applies only to direct p children */
    font-size: 1.5rem;
    margin: 1rem 0;
    &:first-of-type::first-letter {
        font-size: 2rem;
        font-weight: bold;
        user-select: none;
    }
}
.section a {
    color: var(--color2-600);
    text-decoration: dotted underline;
    
}
.section ul.normal-ul {
    list-style: circle;
    margin: 1rem 2rem;
    font-size: 1.3rem;
}
/* project cards */
.project-list {
    /* border: 1px solid var(--color-300); */
    margin: 2rem .5rem;
    list-style: none;
}
.project-list .project-card .project-card-header {
    border-bottom: 1px solid var(--color-500);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .4rem .5rem .4rem .5rem;
    transition: background-color 0.2s ease-in-out;
    user-select: none;

    &:hover {
        background-color: var(--color-800);
    }
    & h1 {
        color: var(--color-050);
        font-size: 1.5rem;
    }
}
.project-list .project-card .project-card-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    padding: 0rem 1rem;
    
    &.open {
        max-height: 100vh;
    }

    & p {
        font-size: 1.2rem;
    }


    & .project-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }
    & .project-footer {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        padding: 0 .5rem;
        & .project-status span {
            font-size: 1rem;
            color: var(--color-300);
        }
        & .project-link a {
            color: var(--color-300);
            font-size: 1rem;
            text-decoration: underline dotted;
        }
    }
}

.skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* ko zmanjka prostorsa gre v novo vrstico */
    justify-content: center;
    padding: 0rem .5rem;

    /* border: 1px solid var(--color-500); */ /* debugging */
}
.skill-box {
    background-color: var(--color-800);
    color: var(--color-300);
    padding: .2rem .8rem;
    margin: .3rem;
    border-radius: 5px;
    border-top: 1px solid       var(--test-650); /* barvo obrobe itak overridea js */
    border-right: 3px solid     var(--test-650);
    border-bottom: 4px solid    var(--test-650);
    border-left: 1px solid      var(--test-650);
    transition: .2s ease-in-out all;
    user-select: none;

    &:hover {
        transform: translateY(0.2rem);
    }
}

/* contacts */
.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.contact {
    position: relative;
}
.contact img {
    height: 4rem;
    width: auto;
    margin: 5px 1rem;
    transition: .2s ease-in-out all;

    &:hover {
        transform: scale(1.1);
    }
}
.contact .tooltip {
    visibility: hidden;
    background-color: var(--color-900);
    color: var(--color-400);
    text-align: center;
    border: 1px solid var(--color-800);
    box-shadow: 0 0 10px 0 var(--color-700);
    border-radius: .5rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    opacity: 0;

    /* position */
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 100%;
    transition-property: visibility, opacity;
    transition-delay: 0s;
    transition-duration: .3s;
}
.contact:hover .tooltip {
    visibility: visible;
    transition-delay: .3s;
    opacity: 1;
    user-select: text;
}

/* things for form */
.btn {
    border: none;
    border-radius: .7rem;
    background-color: var(--color2-500);
    color: var(--color2-050);
    text-align: center;
    display: block;
    cursor: pointer;
    user-select: none;
    
    &:hover {
        background-color: var(--color2-600);
    }
    span {
        color: var(--color2-050);
        font-size: 2.5rem;
        vertical-align: middle;
    }
}
#btn-show-form {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    transition: 0.3s ease-in-out all;
        
    /* animation */
    animation-name: radiate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: 1s;
}



#blurable {
    transition: 0.1s ease-in-out all;
}
.blur {
    filter: blur(25px);
    user-select: none;
}
#form-container {
    position: fixed;
    margin: auto auto;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    padding: .7rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out all;
    
    &.open {
        display: block;
        opacity: 1;
    }
    &.hidden {
        display: none;
        opacity: 0;
    }
}
.form-card {
    max-width: 450px;
    width: 100%;
    overflow: hidden;
    min-height: 40vh;
}
#form-obrazec { 
    border: 2px solid var(--color-700);
    background-color: var(--color-900);
    border-radius: .7rem;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    & header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        user-select: none;
        color: var(--color-300);
    }
    & > div {
        padding: 1rem;
    }
}
#form-loader {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--color-900);
    border: 2px solid var(--color-700);
    border-radius: .7rem;
}
#form-sent {
    display: none;
    background-color: var(--color-900);
    border: 2px solid var(--color-700);
    border-radius: .7rem;
    user-select: none;

    & .exit-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        user-select: none;
        color: var(--color-300);
    }
    & .form-sent-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #07fc03;
        height: 100%;

        & span {
            font-size: 5rem;
        }
        & h2 {
            font-size: 2rem;
        }
    }

}
/* form */
#contact-form {
    padding: 1rem;
    width: 100%;

    & button {
        float: right;
        font-size: 1.2rem;
        padding: .5rem 1rem;
        margin: 1rem 0;
        span {
            font-size: 1.5rem;
        }
    }
}
#contact-form label {
    color: var(--color-300);
    font-size: .8rem;
    margin: 1rem 0 0 0;
    user-select: none;
}
#contact-form input {
    min-width: 70%;
    max-width: 100%;
    height: 2rem;
    border-radius: .2rem;
    padding-left: .5rem;
    margin-top: 0;
    border: 1px solid var(--color-500);
    font-size: 1rem;
    overflow-x: visible;

    &.error {
        border: double red;
    }
}
#contact-form textarea {
    font-size: 1rem;
    max-width: 100%;
    min-width: 100%;
    max-height: 100vh;
    min-height: 10rem;
    border: 1px solid var(--color-500);
    font-family: inherit;
    padding: 0 .5rem;
}







/* footer section */
footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: none;
    color: var(--font-color);
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
